<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.donjavatemplate">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DonJavaTemplate">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- 리사이클러 뷰 모음  -->
        <activity
            android:name=".recyclerview.deafult.DeafultRecyclerViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- 기본 리사이클러 뷰  -->
        <activity
            android:name=".recyclerview.RecyclerViewBase"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>
</manifest>